# Ignore binaries.


# Ignore non-custom parts of Drupal.
/web/sites/default/settings.php
/web/sites/default/files
/web/uploads
/web/files

# Ignore Composer-managed dependencies.

# Sass/Compass

.sass-cache/

